{% extends "layout.html" %}

{% block content %}

<section class="projects">
  <div class="container">
    <h2 class="section-title">My Projects</h2>

    <div class="project-grid">

      <!-- Project 1 -->
      <div class="project-card">
        <h3 class="project-title">ML Based Heart Health Monitoring System</h3>
        <p class="project-description">
          An Ml Based project. 
        </p>
        <a href="#" target="_blank" class="project-link">View Project</a>
      </div>

      <!-- Project 2 -->
      <div class="project-card">
        <h3 class="project-title">E-Commerce Website (Furniture Store)</h3>
        <p class="project-description">
          Full-stack shopping site using Flask and SQLite with features like wishlist, cart, and secure login.
        </p>
        <a href="#" target="_blank" class="project-link">View Project</a>
      </div>

      <div class="project-card">
        <h3 class="project-title">UPI Spam Detection System</h3>
        <p class="project-description">
          An Ml Based project which will detect the spam in the system or not.
        </p>
        <a href="#" target="_blank" class="project-link">View Project</a>
      </div>

      <!-- Add more projects as needed -->
      
    </div>
  </div>
</section>



{% endblock content %}